.cabecalho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-bottom: 1px solid #3D8BFD;
    padding-bottom: 40px;
}

.cabecalho .titulo{
    font-size: 26px;
    font-weight: 400;
    color: #3D8BFD;
    font-style: normal;
    line-height: 150%;
    font-family: 'Zen Dots';
    text-align: center;
    margin: 0;
}

.cabecalho .titulo span{
    color: #FD9843
}